mixin messages()
    .message(v-for="message in current_room_messages")
        .c-alert(:class="{'his-message c-alert--info' : message.user_id != user_id}")
            .message-author {{message.author}}
            br
            |{{message.body}}


mixin modal(name, title, click)
    .c-overlay(v-show="new_room_modal")
    .o-modal(v-show="new_room_modal")
        .c-card
            header.c-card__header
                button.c-button.c-button--close(type='button', @click="close_modal('" + name + "')") &times;
                h2.c-heading=title
            .c-card__body
                if block
                    block
            footer.c-card__footer
                button.c-button.c-button--success(type='button', @click!=click) Create
                button.c-button.c-button--error(type='button', @click="close_modal('" + name + "')") Cancel