extends layout
include _mixins
block content
   #chat.chat-wrapper
       .o-grid
           .o-grid__cell.o-grid__cell--width-75
               .c-alert.c-alert--error(v-if="current_room_data != ''")
                   |Your room: &nbsp;
                   strong(v-text="current_room_data.name")
                       .title.is-6(v-text="current_room_data.description")
               .c-alert.c-alert--error(v-if="current_room_data == ''")
                   |Please select room

               #chat-messages-wrapper.chat-messages-wrapper(v-if="current_room_data != ''")
                   +messages()
               .chat-typer(v-if="current_room_data != ''")
                   article.media
                       p.control
                           textarea.textarea.c-field(placeholder='Your message' v-model="new_message", @keydown.enter="send_message")
                           .c-hint.help.is-danger(v-if="has_errors != '' && display_errors && new_room_modal == false")
                               | {{error_message}}
                       p.control.send-message
                           button.c-button.c-button--brand.button(@click="send_message") Send
           +modal('new_room_modal', 'Create new chat room', 'create_room')
               .control
                   input.c-field.input(type='text', placeholder='Chat room name', :class="{'is-danger' : has_errors != '' && display_errors}" v-model="new_chat_room_title")
                   .c-hint(v-if="(has_errors != '' && display_errors)")
                       .span.help.is-danger
                           | {{error_message}}
               .control
                   textarea.c-field.textarea(placeholder='Chat room description' v-model="new_chat_room_description")
           .o-grid__cell.o-grid__cell--width-25
               aside.menu
                   .media-content
                       .c-alert
                           | Hello, {{user_name}}

                       h4.c-heading  Public chat rooms
                       ul.menu-list.rooms
                           li.c-tree__item.c-tree__item--expandable(v-for="room of rooms")
                               span.c-link
                                    a(@click="change_room(room._id)", :class="{'is-active' : current_room_index == room._id}")
                                        |{{room.name}}

                           li
                               a.c-button.create-room.c-button--success(@click="new_room_modal = true, display_errors = false") Create new


   script(src="/vue/chat.js")
   script.
       setTimeout(function () {
           $('#chat-messages-wrapper').scrollTop($('#chat-messages-wrapper')[0].scrollHeight);
       },100)
