extends layout

block content
  .login-panel#login
    label.label.has-text-centered Choose your login
    .control
      .span.help.is-danger(v-show="has_errors != '' && display_errors")
        |{{has_errors}}
      input.input(type="text" name="login", @keyup.enter="login" v-model="user_login", :class="{'is-danger' : has_errors != '' && display_errors}" placeholder="Your login")
    .control
      button.button.is-primary(@click="login", :class="{'is-loading' : loading_status}") Login
  script(src="/vue/login.js")
