doctype html
html
  head
    title=title
    link(rel='stylesheet', href='http://meyerweb.com/eric/tools/css/reset/reset.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
  body
    container: .columnts: .column: .content
      block content
