doctype html
html
  head
    title=title
    link(rel='stylesheet', href='http://meyerweb.com/eric/tools/css/reset/reset.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://unpkg.com/blaze')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js")
  body
    container: .columnts: .column: .content
      block content
